# pycache
**/__pycache__/
*.pyc
one_ring/__pycache__
one_ring/**/__pycache__
board_logs

data
appendix
dataset
dataset/**
dataset/camvid
dataset/road
dataset/test_data

tests/__pycache__
build
one_ring.egg-info


dataset_v1.0
dataset_v2.0
dross_segmentation
keras-unet-collection
ResUNetPlusPlus
TensorFlow-Advanced-Segmentation-Models
trained_models
oxford_pet_data
addons
backup
~
one_ring/config/_config.py
#workspace.ipynb
#config/test.yaml

TestResults
ignis_segmentation.ipynb

run.py

segmentation_modelling.ipynb
logs
one_ring/.vscode/launch.json
one_ring/.vscode/settings.json
.vscode/settings.json

runs
mlruns
config/spinal_cord.yaml
.vscode/settings.json

**/workspace/**