# pycache
tf_seg/__pycache__
tf_seg/**/__pycache__


appendix
dataset/**
dataset/camvid
dataset/road
dataset/test_data


dataset_v1.0
dataset_v2.0
dross_segmentation
keras-unet-collection
ResUNetPlusPlus
TensorFlow-Advanced-Segmentation-Models
trained_models
oxford_pet_data
addons
backup
~
tf_seg/config/_config.py
#workspace.ipynb
#config/test.yaml

TestResults
ignis_segmentation.ipynb

ignis